
#main_carousel.carousel.slide {
  background-color: #000;
}

.carousel-inner > .item > img {
/*    margin-left: auto;*/
/*    margin-right: auto;*/
}

.carousel {
  margin-bottom: 0px;
}

.carousel-caption p > a {
  color: #5297CB;
}

.carousel-caption a:hover,
.carousel-caption a:focus,
.carousel-caption a:active {
  text-decoration: none;
}

.carousel-caption p {
  margin: 10px;
  text-align: center;
  font-style: oblique;
  font-size: 110%;
}

.carousel-indicators{
  top:auto;
  bottom:20px;
  left:25px;
}
	
.carousel-indicators li{
  width:20px;
  height:20px;
  background-color:rgba(251, 247, 236, 0.8);
  border-radius:10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.carousel-indicators .active{
background-color:rgb(82, 151, 203);
box-shadow:0px 1px 2px rgb(55, 55, 55) inset;
}


.carousel-row {
/*  background-image: url('/assets/bg2_translucent.jpg');*/
/*background-repeat:repeat-x;*/
/*background-size: contain;*/
  margin-top: 30px;
}

/* New and Improved ############################# */

/* caption container */
  .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: #333333;
  background: rgba(52, 52, 52, 0.75);
  margin-bottom: 0%;
  margin-left: 60% ;
  height: 100%;
  width: 40% ;
  display: none;
}

@media only screen and (min-width: 550px) and (max-width: 799px){
  .carousel-caption {
    margin-left: 60%;
    height: 100%;
    width: 40%;
/*    overflow: auto;*/
    display: block;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1049px){
  .carousel-caption {
    margin-left: 65%;
    height: 100%;
    width: 35%;
    overflow: auto;
    display: block;
  }
}

@media only screen and (min-width: 1050px)  {
  .carousel-caption {
    margin-left: 70%;
    height: 100%;
    width: 27%;
    padding: 0 1.5%;
    overflow: auto;
    display: block;
  }
}

/* carousel image */

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
   margin-left: 0px;
   width: 100%;
}

@media only screen and (min-width: 550px) and (max-width: 799px) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img {
     width: 60%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1049px) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img {
     width: 65%;
  }
}

@media only screen and (min-width: 1050px) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img {
     width: 70%;
  }
}


/* caption text */
.carousel-caption p {
    display: none;
}

@media only screen and (min-width: 950px) {
   .carousel-caption p {
      display: block;
      line-height: 460px;
      color: #ffffff;
      line-height: 20px;
   }
}

/* caption title */
.carousel-caption h4 {
  margin: 30px 10px 40px; /* 40 */
  text-align: center;
  font-size: 250%;
  color: rgb(48, 138, 191);
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 100%; 
}

@media only screen and (min-width: 700px) and (max-width: 899px) {
  .carousel-caption h4{
    margin: 50px 10px 40px; /* 70 */
  }
}

@media only screen and (min-width: 900px) {
  .carousel-caption h4{
    margin: 60px 10px 40px; /* 75 */
    line-height: 120%;
    font-size: 250%;
  }
}

/* make the fonts behave! */
.carousel-caption,
.carousel-caption p,
.carousel-caption p > a {
  font-family: Tahoma, Geneva, sans-serif !important;
}


.carousel-caption h4,
.carousel-caption h4 > a,
.carousel-caption a > h4:hover {
  font-family: "Marcellus SC", sans-serif !important;
  color: #5297CB !important;
}




